@{
    ViewData["Title"] = "Index";
    int i = 1;
}

<h1>Index</h1>

<a class="btn btn-primary" asp-action="AddProject"> Add</a>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Controls</th>
        </tr>
    </thead>
    <tbody>
      @foreach(var item in Model)
      {
         <tr class="table-info">
              <td>@(i++)</td>
              <td>@item.Name</td>
              <td>
                  <a asp-action="GetById"asp-route-id="@item.Id" class="btn btn-info"><i class="fa-solid fa-circle-info"></i></a>
                  <a asp-action="edit"   asp-route-id="@item.Id" class="btn btn-success"><i class="fa-solid fa-pen-to-square"></i></a>
                  <a asp-action="delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fa-solid fa-trash"></i></a>
              </td>
         </tr>
      }
    </tbody>
</table>

